.other_item {
    opacity: 20%;
}

.this_item:hover {
    background-color: rgba(252, 222, 255, 0.445);
    border-radius: 50%;
    cursor: pointer;
}

.today {
    background-color: rgba(255, 201, 143, 0.889);
    border-radius: 50%;
}

.weekend {
    color: red;
}

.calander_item {
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
}

