.calander_container {
    height: 774px;
    width : 729px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    /* margin : 5% 0 0 3%; */
}

.calander_header {
    width: 300px;
    height: 37px;
    display: flex;
    justify-content: space-evenly;
    color: #5F5F5F;
    text-align: center;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* margin : 10px; */
    align-items: center;
    position : relative;
    top : 2%;
}
.calander_body {
    width : 729px;
    height : 600px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

.calander_week {
    width : 729px;
    height : 100px;
    display: flex;
    justify-content: space-evenly;
}

.calander_item {
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
}

.button {
    border : none;
    background: none;
}


